body{
    font-family:"sf pro display", lato, sans-serif;
    font-size:18px;
    color:#fff;
    background-color: #000;
    margin:0;
    padding:0;
}

*{
    box-sizing: border-box;
}

#preloader{
  background: #000 url(images/gif/preload.gif) no-repeat center center;
  height:100vh;
  width:100%;
  position:fixed;
  z-index:100;
  background-size:15%;
}

#hero1{
  background-image: url(images/hero1.jpg);
  background-position:center top;
  background-size:cover;
  height:300px
}

.overlay{
  height:300px;
  background-color:rgba(0,0,0,0.87);
  width:100%;
  margin:0;
}
.shape_fill{
  fill:#fff;
  -webkit-transform-origin:center;
  -ms-transform-origin:center;
  transform-origin:center;
  -webkit-transform:rotateY(0deg);
  transform:rotateY(0deg);
}

.heading_text_front {
position: absolute;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
text-align: center;
left: 50%;
width: 90%;
top: 50%;
z-index: 4;
}

.heading_text_front h1 {
font-family: 'Poppins', sans-serif;
text-transform: uppercase;
color: transparent;
font-weight: 900;
font-size: 60px;
-webkit-text-stroke: 1px #fff;
letter-spacing: 1px;
}

.heading_text_back {
position: absolute;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
text-align: center;
left: 50%;
width: 90%;
top: 50%;
z-index: -1;
}

.heading_text_back h1 {
font-family: 'Poppins', sans-serif;
text-transform: uppercase;
color: #fff;
font-weight: 900;
font-size: 60px;
-webkit-text-stroke: 0px #fff;
letter-spacing: 1px;
}

.main_head {
position: relative;
height: 100vh;
overflow: hidden;
z-index: -1;
}

.main_head .container {
position: relative;
}

h1.title {
font-size: 90px;
}

@media (min-width: 767.98px) and (max-width: 991.98px)
.main_head h1 {
    font-size: 50px;
  }