body{
    color:#fff;
    background-color: #000;
}
*{
    box-sizing: border-box;
    font-family:"sf pro display", lato, sans-serif;
    margin:0;
    padding:0;
    font-size:18px;

}

#preloader{
  background: #000 url(images/gif/preload.gif) no-repeat center center;
  height:100vh;
  width:100%;
  position:fixed;
  z-index:100;
  background-size:15%;
}


#exp{
color: transparent;
font-weight: 600;
font-size: 48px;
-webkit-text-stroke: 0.3vw;
letter-spacing: 1px;
}

.folio_content .folio_item {
    margin-top: 100px;
    position: relative;
    padding: 0 20px;
  }
  
  .folio_content .folio_item .img_folio {
    z-index: 2;
    position: relative;
  }
  
  .folio_content .folio_item .img_folio a {
    cursor: none;
  }
  
  .folio_content .folio_item .img_folio img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  
  .folio_content .folio_item .img_folio:hover img {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  }
  
  .folio_content .folio_item .text_folio h2.text-1 {
    position: absolute;
    color: transparent;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px #fff;
    z-index: 4;
    left: 50%;
    bottom: 1px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  
  .folio_content .folio_item .text_folio h2.text-3 {
    position: absolute;
    font-weight: 900;
    color: #000;
    font-size: 40px;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px #fff;
    z-index: 4;
    left: 50%;
    bottom: 1px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  
  
  .folio_content .folio_item .text_folio h2.text-2 {
    position: absolute;
    color: #fff;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 2px;
    z-index: 1;
    left: 50%;
    bottom: 1px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  
@media (min-width: 767.98px) and (max-width: 991.98px){
.main_head h1{
    font-size: 50px;
  }
}